@import "../../scss/mixins";
.video {
  &-container {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    @include respond(phone) {
      width: 90%;
    }
  }
  &.alice-carousel__stage-item {
    border: 2px solid red;
  }
}
.video-container-content {
  width: 50%;
}
