@import "../../scss/variable";
.weeklyanalysis {
  margin: 1rem 1rem;
  background-image: $primary;
  border-radius: 1rem;

  &-container {
    padding: 2rem 4rem;
    font-family: "Roboto";
    &-top {
      display: flex;
      & > img {
        width: 10rem;
        height: 10rem;
        margin-right: 2rem;
        border-radius: 1rem;
      }
      &-content {
        & > h4 {
          font-size: 2rem;
          color: white;
        }
        & > h6 {
          font-size: 1rem;
          color: white;
        }
      }
    }
    &-para {
      margin-top: 1rem;
      color: white;
      font-weight: 300;
    }
  }
}
