@import "../../scss/variable";
.slidervideo {
  margin: 3rem 1rem;
  background-image: $primary;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  &-container {
    padding: 5px 5px;
    font-family: "Roboto";
      & > video {
        width: 8rem;
        // height: 10rem;
        margin-right: 2rem;
        border-radius: 1rem;
      }
  }
}

.slidervideo-active {
  margin: 0px 5px 0px 5px;
  flex-grow: 1;
  background-image: $primary;
  border-radius: 1rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: white;
  &-container {
    padding: 5px 5px;
    font-family: "Roboto";
      & > video {
        width: 8rem;
        // height: 10rem;
        margin-right: 2rem;
        border-radius: 1rem;
      }
  }
}
